#auto-complete {
	background-color: tomato;
	color: white;
}
#auto-complete:hover {
	background-color: #ff8771;
}
#auto-complete:active {
	background-color: #c0ff36;
	color: #201a56;
}
.jquery-modal {
	z-index: 10 !important;
}

.sbc-modal { min-width: 18em; width: 90%; max-width: 40em; min-height: 5em; max-height: 100%; box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 0.5em; vertical-align: middle; overflow: hidden; box-sizing: border-box; text-align: center; position: relative; background-color: rgb(251, 251, 251); color: rgb(51, 49, 78); border-style: solid; border-color: rgb(221, 221, 221); border-width: 0px; background-image: url("../images/branding/bgVariant07.png"); background-size: 100%; background-repeat: no-repeat; background-position: right bottom; }
.sbc-modal header { background-color: rgb(32, 26, 86); color: rgb(251, 251, 251); border-style: solid; border-color: rgb(251, 251, 251); border-width: 0px; display: block; height: 4.5em; line-height: 4.5em; padding: 0px 0.5em; overflow: hidden; box-sizing: border-box; font-weight: 600; text-overflow: ellipsis; white-space: nowrap; }
.sbc-modal header .secondary { color: rgb(188, 186, 202); }
.sbc-modal header .feedback-red, .sbc-modal header.feedback-red { color: rgb(255, 61, 19); }
.sbc-modal header .feedback-orange, .sbc-modal header.feedback-orange { color: rgb(234, 195, 15); }
.sbc-modal header .feedback-green, .sbc-modal header.feedback-green { color: rgb(97, 234, 15); }
.sbc-modal header .statIncrease { color: rgb(97, 234, 15) !important; }
.sbc-modal header .statDecrease { color: rgb(255, 61, 19) !important; }
.sbc-modal header a, .sbc-modal header strong { color: rgb(192, 255, 54); }
.sbc-modal header a.hover, .sbc-modal header a:hover { color: rgb(224, 255, 155); }
.sbc-modal header a:active { color: rgb(203, 253, 91); }
.sbc-modal header a.disabled, .sbc-modal header a.disabled:active, .sbc-modal header a.disabled:hover { color: rgb(172, 172, 196); }
.sbc-modal header h1 { font-size: 1.6em; font-weight: 400; font-family: UltimateTeamCondensed; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.sbc-modal .bodySection { background-color: rgb(231, 232, 238); color: rgb(32, 26, 86); border-style: solid; border-color: rgb(188, 186, 202); border-width: 0px; overflow: hidden; padding: 1.5em 1em; }
.sbc-modal .bodySection .secondary { color: rgb(188, 186, 202); }
.sbc-modal .bodySection .feedback-red, .sbc-modal .bodySection.feedback-red { color: red; }
.sbc-modal .bodySection .feedback-orange, .sbc-modal .bodySection.feedback-orange { color: rgb(234, 195, 15); }
.sbc-modal .bodySection .feedback-green, .sbc-modal .bodySection.feedback-green { color: rgb(51, 170, 0); }
.sbc-modal .bodySection .statIncrease { color: rgb(51, 170, 0) !important; }
.sbc-modal .bodySection .statDecrease { color: red !important; }
.sbc-modal .bodySection .popupText { font-size: 1.3em; font-family: UltimateTeamCondensed; font-weight: 400; margin-bottom: 0.5em; }
.sbc-modal .secondary { color: rgb(140, 141, 162); }
.sbc-modal .feedback-red, .sbc-modal.feedback-red { color: red; }
.sbc-modal .feedback-orange, .sbc-modal.feedback-orange { color: rgb(234, 195, 15); }
.sbc-modal .feedback-green, .sbc-modal.feedback-green { color: rgb(51, 170, 0); }
.sbc-modal .statIncrease { color: rgb(51, 170, 0) !important; }
.sbc-modal .statDecrease { color: red !important; }
.sbc-modal a, .sbc-modal strong { color: rgb(207, 33, 106); }
.sbc-modal a.hover, .sbc-modal a:hover { color: rgb(207, 33, 106); }
.sbc-modal a:active { color: rgb(223, 104, 138); }
.sbc-modal a.disabled, .sbc-modal a.disabled:active, .sbc-modal a.disabled:hover { color: rgb(172, 172, 196); }
.sbc-modal .bodySection { background-color: transparent; }
.sbc-modal header { background-color: rgb(32, 26, 86); color: rgb(251, 251, 251); border-style: solid; border-color: rgb(251, 251, 251); border-width: 0px; }
.sbc-modal header .secondary { color: rgb(188, 186, 202); }
.sbc-modal header .feedback-red, .sbc-modal header.feedback-red { color: rgb(255, 61, 19); }
.sbc-modal header .feedback-orange, .sbc-modal header.feedback-orange { color: rgb(234, 195, 15); }
.sbc-modal header .feedback-green, .sbc-modal header.feedback-green { color: rgb(97, 234, 15); }
.sbc-modal header .statIncrease { color: rgb(97, 234, 15) !important; }
.sbc-modal header .statDecrease { color: rgb(255, 61, 19) !important; }
.sbc-modal header a, .sbc-modal header strong { color: rgb(192, 255, 54); }
.sbc-modal header a.hover, .sbc-modal header a:hover { color: rgb(224, 255, 155); }
.sbc-modal header a:active { color: rgb(203, 253, 91); }
.sbc-modal header a.disabled, .sbc-modal header a.disabled:active, .sbc-modal header a.disabled:hover { color: rgb(172, 172, 196); }
.sbc-modal header h1 { text-transform: uppercase; }
.sbc-modal .btn-container { display: flex; justify-content: center; }
.sbc-modal .btn-container .btn, .sbc-modal .btn-container button { margin: 16px; }
.sbc-modal .info { font-size: 0.85em; font-weight: 400; text-align: left; text-transform: uppercase; }